* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Outfit', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

/* .navbar {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
} */

/* .navbar-brand.text-gradient {
  background: linear-gradient(90deg, #df8908, #b415ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navbar-nav .nav-link {
  color: #bbb !important;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #df8908 !important;
  transform: scale(1.05);
}


.contactbtn {
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  color: #161513 !important;
  border-radius: 50px;
  padding: 8px 18px;
  text-decoration: none;
  transition: 0.3s ease;
  max-width: 200px;
}

.contactbtn:hover {
  transform: scale(1.07);
}


/* Responsive spacing */
@media (max-width: 992px) {
  .contactbtn {
    margin-top: 10px;
    display: inline-block;
  }
}

 
 
